<%= form_for(@test_drife) do |f| %>
  <% if @test_drife.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_drife.errors.count, "error") %> prohibited this test_drife from being saved:</h2>

      <ul>
      <% @test_drife.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
